* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  width: 90vw;
  height: 100vh;
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 0 2vw;
  overflow: hidden;
  overflow-x: auto;
}

img {
  height: 100%;
}
